@tailwind base;
@tailwind components;
@tailwind utilities;

/***********************/
/**** JS added css ****/
/**********************/
.officemap-hide-markers {
  opacity: 0.4 !important;
}

/***************************/
/**** leaflet overwrite ****/
/***************************/
.leaflet-control-zoom.leaflet-bar.leaflet-control{
  margin-left: 26px;
  margin-top: 26px;
}

/***************/
/**** print ****/
/***************/
@media print {
  body {
    visibility: hidden;
  }
  .officemap-print-map-section {
    visibility: visible;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}