.officemap-badge {
    align-items: center;
    border-radius: 6px;
    display: inline-flex;
    font-family: 'OfficeMapNormal', sans-serif;
    font-size: 12px;
    font-weight: 500;
    gap: 4px;
    letter-spacing: .5px;
    line-height: unset;
    padding: 4px;
    padding-inline-end: 8px;
}

.officemap-badge.employee {
    border: 1px solid #394f93;
    color: #394f93;
}

.officemap-badge.room {
    border: 1px solid #4f7939;
    color: #4f7939;
}

.officemap-badge.printer {
    border: 1px solid #9b4b28;
    color: #9b4b28;
}