/**** legend ****/

.officemap-legend {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 20px;
    background: white;
    width: fit-content;
    padding: 20px;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    transition: width .4s, height .4s;
    font-family: 'OfficeMapNormal', sans-serif;
    z-index: 9999;
}

.officemap-legend-header {
    font-family: 'OfficeMapBold', sans-serif;
    font-weight: normal;
}

.officemap-legend.collapsed {
    width: 0;
    height: 0;
}

.officemap-legend-toggle{
    color: #5f6368;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 8px;
    cursor: pointer;
}
.officemap-legend.collapsed .officemap-legend-toggle{
    right: 0px;
    top: 0px;
}

.officemap-legend-content {
    opacity: 1;
    transition: opacity .4s;
    overflow: hidden;
}

.officemap-legend.collapsed .officemap-legend-content{
    opacity: 0;
}

.officemap-legent-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.officemap-legend-sections {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.officemap-legend-section {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.officemap-room-type-legend {
    width: 20px;
    height: 10px;
    background: green;
    margin-left: 8px;
}